.gia-kd p { font-size: 16px;}

.gia {padding: 10px;}
.frame { width: 100%;}
.button2 {
    width: 120px;
    height: 32px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #A5D6F1;
    border: none;
}
.item {
   padding-top: 10px;
}